.tekst {
  color: blue;
}
.pasus {
  font-size: 30px;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 50%;
  padding: 50px;
}
.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}

/* GRID example */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  padding: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
/* GRID example - END */

@media only screen and (min-width: 700px) {
  body {
    background-color: lightblue;
  }
  .tekst {
    color: red;
  }
  .pasus {
    font-size: 60px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-color: black;
  }
  .tekst {
    color: white;
  }
  .pasus {
    font-size: 40px;
  }

  table td {
    color: white;
  }
}
