/* Импортирање на фонт од Google Fonts начин бр.2 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
}
/* Импортирање на локален фонт начин бр.3 */
@font-face {
  font-family: "Press Start 2P";
  src: url("./Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
}

/* CSS specifity 100*/
#gallery {
  display: flex;
}

/* CSS specifity 100 + 1 + 10 + 1 = 112 */
#gallery div.img > img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
}

/* CSS specifity 100*/
#kontakt_info {
  color: red;
}

/* CSS specifity 10 + 1 = 11*/
.info p {
  color: green !important; /* Со !important се презапишува некое CSS својство */
}

/* Употреба на pseudo класи за селекција на секој парен елемент */
#lista_predmeti li:nth-child(2n) {
  color: blue;
}

/* Употреба на pseudo класи за селекција на секој непарен елемент */
#lista_predmeti li:nth-child(2n + 1) {
  color: red;
}

#lista_predmeti li:nth-child(3) {
  color: orange;
}
#lista_predmeti li:first-child,
#lista_predmeti li:last-child {
  color: blueviolet;
}
/* Употреба на pseudo класа hover за додавање на CSS својство при преминување врз елементот со курсорот*/
#paragraf:hover {
  transition: 1s;
  font-size: 20px;
  background: black;
  color: white;
  cursor: pointer;
  padding: 10px;
}
