/* Импортирање на фонт од Google Fonts начин бр.1 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
}
/* CSS specifity 100*/
#gallery {
  display: flex;
}

/* CSS specifity 100 + 10 + 1 + 1 = 112 */
#gallery div.img > img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
}
/* CSS specifity 1*/
img {
  border-radius: 10px;
}

/* CSS specifity 100*/
#kontakt_info {
  color: red;
}

/* CSS specifity 10 + 1 = 11*/
.info p {
  color: green !important; /* Со !important се презапишува некое CSS својство */
}

/* Употреба на pseudo класи за селекција на секој парен елемент */
#lista_predmeti li:nth-child(2n) {
  color: blue;
}

/* Употреба на pseudo класи за селекција на секој непарен елемент */
#lista_predmeti li:nth-child(2n + 1) {
  color: red;
}

/* Употреба на pseudo класа hover за додавање на CSS својство при преминување врз елементот со курсорот*/
#paragraf:hover {
  transition: 1s;
  font-size: 20px;
  background: black;
  color: white;
  cursor: pointer;
  padding: 10px;
}
